@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    background-color: rgb(77, 88, 243);
}
.transitionDiv {
    background: red;
    height: 100px;
    width: 200px;
    margin: 0 auto;
  }
  
  @keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }